html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    position: relative;
}

html,
body {
    font-family: PingFangSC-Regular, "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color: #333;
    height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

input,
select,
textarea {
    font-size: 100%
}

input,
textarea,
button {
    border: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500
}

ol,
ul {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500
}

a {
    text-decoration: none
}

.posire {
    /*相对定位*/
    position: relative;
    z-index: 9;
}

.posiab {
    /*绝对定位*/
    position: absolute;
    z-index: 99;
}

.posifix {
    /*固定定位*/
    position: fixed;
    z-index: 999;
}

.pabMid {
    /*绝对定位 上下左右居中*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.flex {
    /*弹性布局*/
    display: -webkit-flex;
    /* Safari */
    display: flex;
}

.pfixMid {
    /*固定定位 上下左右居中 在屏幕中间使用*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ellipsis {
    /*单行文本超出后 缩略成...*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.none {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.inB {
    display: inline-block;
}

